@font-face {
  font-family: Cartoon;
  src: url(../fonts/CartoonHollowRegular.ttf); }

@font-face {
  font-family: BebasNeue Regular;
  src: url(../fonts/BebasNeueRegular.otf); }

body {
  transition: all 0.25s ease; }

.head-content {
  background-image: url("../img/hed-bg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.mnu-line {
  padding-top: 30px; }

.days .fa, .phone .fa {
  position: relative;
  right: 8px;
  color: #ff8606; }

.phone {
  float: right;
  max-width: 270px;
  margin-top: 2px; }
  .phone h1 {
    font-size: 1.9em;
    color: #fff; }

.days {
  float: right;
  max-width: 350px; }
  .days h1 {
    font-size: 1.7em;
    padding-top: 3px;
    color: #fff; }

.first-menu {
  transition: all 0.25s ease-out; }

.acs {
  position: absolute;
  width: 139px;
  right: 0;
  top: 15px; }

.preim-head {
  padding-top: 90px;
  color: #fff; }
  .preim-head h1 {
    font-size: 2.7em;
    margin-bottom: 0;
    font-family: Cartoon; }
  .preim-head span {
    font-size: 1.1em;
    text-transform: uppercase; }
  .preim-head ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0; }
  .preim-head li {
    padding: 8px;
    font-size: 1.1em;
    height: 100%; }
  .preim-head .fa-desktop {
    padding-right: 8px;
    font-size: 1.1em;
    color: #ff8606; }

.more {
  border: 1px solid #ff8606;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: 30px;
  display: block;
  width: 167px;
  color: #ff8606;
  text-align: center;
  height: 37px;
  text-transform: uppercase;
  font-size: 1.15em; }
  .more:hover, .more:active, .more:focus {
    color: #ff8606;
    text-decoration: none; }

.ajax-form {
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 340px;
  float: right; }
  .ajax-form input {
    width: 269px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    padding: 10px 8px;
    margin: 10px 0;
    color: #000; }
  .ajax-form h3 {
    font-size: 1.5em; }
  .ajax-form button {
    text-transform: uppercase;
    width: 249px;
    height: 45px;
    background-color: #ff8606;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px; }

.icon-2 {
  right: 42px !important; }

.input-icon {
  position: absolute;
  top: -10px;
  right: 35px; }
  .input-icon li {
    color: #95a5a6;
    font-size: 1.4em;
    padding-bottom: 24px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px; }
  .toggle-mnu span:after, .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  .toggle-mnu span:after {
    top: 18px; }
  .toggle-mnu span {
    position: relative;
    display: block; }
  .toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  .toggle-mnu.on span {
    background-color: transparent; }
  .toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px); }
  .toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px); }

#logo {
  position: absolute !important; }

.text-logo-1 {
  display: none; }

.text-logo {
  position: fixed;
  color: white;
  margin: 0;
  font-size: 1.5em;
  top: 40px;
  margin-left: 15px;
  z-index: 999; }

.mnu-second {
  display: block;
  list-style: none;
  color: #fff;
  float: left;
  margin-top: 8px;
  margin-bottom: 58px; }
  .mnu-second li {
    display: inline;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px; }
    .mnu-second li a {
      color: #fff;
      font-family: BebasNeue Regular;
      font-size: 1.7em;
      font-weight: 400; }

.phone-menu {
  float: right;
  padding-right: 30px;
  margin-top: -3px; }

.toggle-mnu {
  display: none;
  margin-right: 30px; }

.second-menu-toggle {
  display: none;
  list-style: none;
  color: #fff;
  float: left;
  margin-top: 8px;
  height: 400px; }
  .second-menu-toggle a {
    color: #fff;
    font-family: BebasNeue Regular;
    font-size: 1.7em;
    font-weight: 400; }
  .second-menu-toggle li {
    display: block;
    border-bottom: 1px solid #000; }

.phone-menu-toggle {
  position: relative;
  left: 35px;
  margin-top: 15px; }

.active-menu {
  position: fixed;
  top: 30px;
  margin-left: 180px;
  z-index: 999; }

.bg-mnu {
  background-color: #000;
  height: 100px;
  width: 100%;
  position: fixed;
  opacity: 0.2;
  top: 0;
  left: 0; }

.prem {
  background-image: url("../img/prem-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .prem > h1 {
    text-align: center;
    font-size: 3.2em;
    text-transform: uppercase;
    font-family: BebasNeue Regular;
    color: #000;
    padding-top: 70px;
    margin: 0; }

.grid {
  padding-top: 70px; }
  .grid p {
    text-align: center;
    font-size: 1.5em;
    padding-top: 15px;
    font-family: Arial; }

.second-grid {
  padding-top: 70px;
  padding-bottom: 114px; }

.zayav {
  padding: 15px 45px;
  padding-top: 17px;
  background-color: #ff8606;
  border-radius: 5px;
  color: #fff; }
  .zayav:hover, .zayav:active, .zayav:focus {
    text-decoration: none;
    color: #fff; }

.click {
  display: block;
  margin: 0 auto; }

.service {
  text-align: center;
  background-image: url("../img/service-bg.png");
  background-size: cover;
  background-position: top; }
  .service > h1 {
    padding-top: 50px;
    padding-bottom: 60px;
    margin: 0;
    color: #fff;
    font-size: 2.3em; }
  .service > h2 {
    text-transform: uppercase;
    font-family: BebasNeue Regular;
    padding-bottom: 69px;
    padding-top: 100px;
    margin: 0;
    font-size: 3em;
    color: #fff; }

.toggle-mnu {
  margin: 0; }

.service-content {
  text-align: center;
  position: relative; }
  .service-content .mask {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    cursor: pointer;
    max-width: 370px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    transition: all 0.6s ease; }
    .service-content .mask h2 {
      color: #fff;
      font-size: 1.6em;
      font-family: Arial;
      padding-top: 20%;
      transition: all 0.6s ease; }
    .service-content .mask p {
      color: #fff;
      padding-top: 20px;
      opacity: 0;
      transition: all 0.6s ease; }
  .service-content .mask:hover {
    background-color: black; }
    .service-content .mask:hover h2 {
      transform: translateY(-25px); }
    .service-content .mask:hover p {
      opacity: 1;
      transform: translateY(-20px); }
  .service-content .hov-anim {
    transition: all 0.4s ease;
    cursor: pointer;
    max-width: 370px; }

.service-end {
  text-align: center;
  font-size: 2em;
  color: #fff;
  padding-top: 50px;
  margin: 0;
  padding-bottom: 60px; }

.categories-log {
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: BebasNeue Regular;
  color: #fff;
  padding-top: 130px; }

.acs-2 {
  position: absolute;
  width: 136px;
  right: 0;
  top: -55px; }

.head-stock {
  background-image: url("../img/bg-stock.png");
  margin-top: 80px;
  max-width: 360px;
  height: 80px;
  position: relative;
  border-radius: 5px 5px 0 0; }
  .head-stock img {
    max-width: 65px;
    float: left;
    margin: 8px 0;
    margin-left: 35px; }
  .head-stock > h2 {
    text-transform: uppercase;
    position: absolute;
    right: 25px;
    top: -10px;
    color: #fff; }

.content-stock {
  position: relative;
  text-align: left;
  float: left;
  color: #fff;
  height: 473px;
  background: white url("../img/bg-white.png"); }
  .content-stock ul {
    position: relative;
    margin-top: 40px;
    float: left;
    margin-bottom: 60px;
    list-style: none; }
    .content-stock ul li {
      float: left;
      color: #000;
      font-size: 1.2em;
      padding-bottom: 20px; }

.foot {
  background-image: url("../img/bg-stock.png");
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: auto;
  float: left;
  bottom: 0;
  max-width: 295px;
  left: 0;
  right: 0;
  color: #fff;
  height: 90px;
  line-height: 40px;
  font-size: 1.3em;
  border-radius: 0; }
  .foot p {
    line-height: 90px; }
  .foot span {
    color: #ff8606; }

.stalin {
  margin-bottom: 30px; }

.section-end {
  padding-top: 10px;
  color: #fff;
  font-size: 1.6em;
  margin-bottom: 50px;
  font-family: Arial; }
  .section-end > span {
    font-size: 1.4em;
    line-height: 60px; }

.last {
  margin-bottom: 40px; }

.work {
  background-image: url("../img/bg-work.png");
  background-size: cover;
  background-grepeat: no-repeat; }
  .work h3 {
    font-family: BebasNeue Regular;
    font-size: 2.7em;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 70px;
    margin: 0; }

.acs-3 {
  position: absolute;
  right: 0;
  top: -128px; }

.home {
  background-image: url("../img/bg-home.png");
  background-size: cover;
  background-grepeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }
  .home h1 {
    padding-top: 60px;
    font-size: 2.5em;
    margin: 0; }
  .home p {
    font-size: 1.8em;
    padding-bottom: 40px; }

.garant {
  background-image: url("../img/bg-garant.png");
  background-size: cover;
  background-grepeat: no-repeat;
  text-align: center; }
  .garant p {
    font-size: 1.4em;
    padding-top: 80px;
    padding-bottom: 30px; }

.talk {
  background-image: url("../img/bg-tell.png");
  background-size: cover;
  background-grepeat: no-repeat;
  height: 900px;
  height: 100%; }
  .talk h1 {
    font-family: BebasNeue Regular;
    font-size: 3.2em;
    padding-top: 66px;
    padding-bottom: 70px;
    text-align: center;
    color: #000;
    text-transform: uppercase; }

.owl-custom {
  text-align: center;
  position: relative; }
  .owl-custom img {
    width: 152px !important;
    height: 152px;
    display: block;
    margin: 0 auto; }
  .owl-custom span {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 1.9em;
    font-family: BebasNeue Regular; }
  .owl-custom p {
    width: 430px;
    margin: 0 auto; }

.owl-prev {
  display: none; }

.fa-angle-left {
  font-size: 3.2em !important;
  color: #000; }

.fa-angle-right {
  font-size: 3.2em !important;
  color: #000; }

.ny {
  background-image: url("../img/bg-ny.png");
  background-size: cover;
  background-grepeat: no-repeat;
  color: #fff;
  text-align: center; }
  .ny h1 {
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 10px; }
  .ny h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    padding-bottom: 10px; }
  .ny span {
    color: #ff8606; }
  .ny p {
    font-size: 2em;
    padding-bottom: 30px; }
  .ny .ajax-form ul {
    list-style: none; }
    .ny .ajax-form ul li {
      position: relative;
      top: 25px;
      font-size: 1.7em; }
  .ny .ajax-form p {
    font-size: 1em; }

.ss {
  padding-top: 70px;
  padding-bottom: 70px; }

.timer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }
  .timer .num {
    flex-wrap: nowrap;
    height: 111px;
    width: 72px;
    background-color: red;
    font-size: 5.5em;
    background-image: linear-gradient(to top, #290a59 0%, #ff7c00 100%);
    border-radius: 5px; }

.days-2, .hours-2, .minets-2 {
  margin-right: 10px; }

.footer {
  background-color: #000;
  color: #fff; }
  .footer img {
    float: left;
    padding: 20px 0;
    max-width: 100%; }
  .footer h3 {
    float: left;
    margin-top: 60px;
    padding: 0 8%;
    font-family: BebasNeue Regular; }
  .footer i {
    float: left;
    line-height: 135px;
    position: relative;
    right: 30px;
    height: 35px;
    font-size: 1.5em;
    padding-right: 8px; }

#top {
  float: right;
  padding-top: 50px;
  width: 35px; }

.space {
  left: 45px; }

.ajax-popup {
  color: #fff;
  float: none;
  margin: 0 auto;
  position: relative;
  background-color: #470D41; }
  .ajax-popup h3 {
    padding-top: 30px; }
  .ajax-popup p {
    padding-bottom: 5px; }
  .ajax-popup .last-guard {
    padding-bottom: 20px; }

.icon-popup {
  position: absolute;
  top: 15px;
  right: 43px !important;
  font-size: 1.1em;
  right: 35px;
  list-style: none; }
  .icon-popup li {
    color: #95a5a6;
    font-size: 1.4em;
    padding-bottom: 30px; }

#map {
  height: 200px !important;
  position: relative; }

.ajax-map {
  position: absolute;
  background-color: black;
  top: 50px;
  right: 0;
  left: 0;
  color: #fff;
  float: none;
  margin: 0 auto; }
  .ajax-map h3 {
    font-size: 1em; }
  .ajax-map ul {
    list-style: none; }
    .ajax-map ul li {
      padding-bottom: 30px; }
  .ajax-map .input-icon {
    top: 15px;
    right: 40px;
    font-size: 1.1em; }

.map-wrap {
  height: 680px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 280px;
  color: #fff;
  width: 460px; }
  .map-wrap span {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-right: 5px; }

.cont {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  float: none;
  text-align: center; }
  .cont i {
    color: #ff8606;
    padding-right: 10px;
    font-size: 1em; }

@media screen and (max-width: 1200px) {
  .map-wrap {
    right: 0 !important; }
  .footer {
    background-color: #000;
    color: #fff; }
    .footer img {
      float: left;
      padding: 20px 0;
      max-width: 100%; }
    .footer h3 {
      float: left;
      margin-top: 60px;
      padding: 0 3%;
      font-family: BebasNeue Regular; }
    .footer i {
      float: left;
      line-height: 135px;
      position: relative;
      right: -10px;
      top: 2px;
      font-size: 1.5em;
      padding-right: 8px; }
  .foot {
    position: absloute;
    bottom: -20px !important;
    max-width: 295px !important; }
  .phone-menu {
    position: relative;
    top: -130px; }
  .phone h1 {
    font-size: 1.8em; }
  .days {
    padding-top: 0; }
  .head-content {
    height: 100%; }
  .mouse-icon {
    display: none; } }

@media screen and (min-width: 991px) {
  .preim-head {
    padding-top: 150px; }
  .text-logo {
    display: none; }
  .bg-mnu {
    display: none; }
  .foot {
    max-width: 360px; }
  .mask {
    left: 9px !important; }
  .sst {
    height: 290px !important; }
  .second-menu-toggle {
    display: none !important; } }

@media screen and (max-width: 991px) {
  .bg-mnu {
    display: none; }
  .text-logo {
    display: none; }
  .second-menu {
    display: none; }
  .section-end > span {
    line-height: 40px; }
  .footer {
    background-color: #000;
    color: #fff;
    position: relative; }
    .footer img {
      float: left;
      padding: 20px 0;
      max-width: 100%; }
    .footer h3 {
      float: left;
      margin-top: 20px;
      padding: 0 50px;
      font-family: BebasNeue Regular; }
    .footer i {
      float: left;
      line-height: 135px;
      position: relative;
      right: 5px;
      top: -20px;
      font-size: 1.5em;
      padding-right: 8px; }
    .footer #top {
      position: absolute;
      right: 60px;
      top: -20px; }
  .wrap {
    display: flex;
    justify-content: center; }
  .click {
    margin-bottom: 20px; }
  .foot {
    position: absolute;
    max-width: 360px !important;
    margin: 0;
    margin-left: 15px;
    margin: 0 auto; }
  .sst {
    height: 190px !important; }
  .footer h3 {
    font-size: 1.4em; }
  .text-logo-1 {
    position: fixed;
    color: white;
    margin: 0;
    font-size: 1.5em;
    top: 20px;
    margin-left: 15px;
    z-index: 999;
    display: block; }
  .bg-mnu-1 {
    background-color: #000;
    height: 60px !important;
    width: 100%;
    position: fixed;
    opacity: 0.2;
    top: 0;
    left: 0;
    display: block;
    height: 100px;
    z-index: 1; }
  .second-menu-toggle {
    display: none;
    text-align: center;
    float: none;
    margin: 0 auto;
    position: fixed;
    max-width: 100%;
    right: 0;
    left: 0;
    top: 50px;
    margin-top: 65px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999; }
    .second-menu-toggle li {
      position: relative;
      right: 0; }
  .acs {
    display: none; }
  .toggle-mnu {
    display: block;
    right: 20px;
    top: 23px;
    position: fixed;
    z-index: 99999; }
  .second-menu {
    display: none; }
    .second-menu li {
      display: block;
      border-bottom: 1px solid #000; }
  .first-menu {
    display: none; }
  .mouse-icon {
    display: none; }
  .ajax-form {
    float: none;
    display: block;
    margin: 0 auto;
    padding-top: 1px; }
  .more {
    display: block;
    margin: 30px auto; }
  .phone h1 {
    font-size: 1.5em; }
  .days {
    font-size: 0.8em; }
  .acs {
    max-width: 139px;
    right: 0px; } }

@media screen and (max-width: 645px) {
  .footer {
    background-color: #000;
    color: #fff;
    position: relative; }
    .footer img {
      float: left;
      padding: 20px 0;
      max-width: 100%; }
    .footer h3 {
      float: left;
      margin-top: 30px;
      padding: 0 10px;
      font-family: BebasNeue Regular; }
    .footer i {
      float: left;
      line-height: 135px;
      position: relative;
      right: -10px;
      top: -30px;
      font-size: 1.5em;
      padding-right: 8px; }
    .footer #top {
      position: absolute;
      right: 60px;
      top: 10px; } }

@media screen and (max-width: 573px) {
  .acs-2 {
    position: absolute;
    right: 0;
    top: 0; }
  .acs-3 {
    position: absolute;
    right: 0;
    top: -60px; }
  .timer .num {
    font-size: 4em;
    height: 80px; }
  .ajax-form {
    max-width: 300px; }
  .phone-menu {
    display: none; } }

@media screen and (max-width: 523px) {
  .footer {
    background-color: #000;
    color: #fff;
    position: relative; }
    .footer img {
      display: none; }
    .footer h3 {
      float: left;
      margin-top: 30px;
      padding: 0 0px;
      font-size: 1.4em !important;
      font-family: BebasNeue Regular; }
    .footer i {
      float: left;
      line-height: 135px;
      position: relative;
      right: -20px;
      top: -50px;
      font-size: 1.5em;
      padding-right: 8px; }
    .footer #top {
      position: absolute;
      right: 60px;
      top: 10px; } }

@media screen and (max-width: 450px) {
  .map-wrap {
    width: 100%; }
  .ajax-map .input-icon {
    right: 25px !important; }
  .input-icon {
    top: 15px;
    right: 40px;
    font-size: 1.1em; }
  .icon-popup {
    position: absolute;
    top: 15px;
    right: 25px !important;
    font-size: 1.1em;
    right: 35px;
    list-style: none; }
  .input-icon {
    right: 25px; }
  .section-end {
    position: relative;
    top: 20px; }
    .section-end > span {
      font-size: 0.9em;
      line-height: 20px; }
  .txt-wrap {
    height: 100%; }
  .owl-custom {
    text-align: center;
    position: relative; }
    .owl-custom p {
      margin: 0 auto;
      width: 250px; }
  .last-p {
    margin-bottom: 30px; }
  .foot {
    min-width: 310px !important;
    max-width: 360px !important;
    left: 0;
    right: 0; }
  .head-stock > h2 {
    right: 6px;
    font-size: 1.8em; }
  .second-menu-toggle {
    display: none;
    text-align: center;
    float: none;
    margin: 0;
    position: fixed;
    max-width: 100%;
    right: 0;
    left: 0; }
  .phone-menu-toggle {
    left: -20px;
    top: 30px; }
  .footer h3 {
    font-size: 1em;
    margin-top: 10px; }
  .mask {
    max-width: 200px; }
  .hov-anim {
    transition: all 0.4s ease;
    cursor: pointer;
    max-width: 250px	!important; }
  #logo-texts {
    font-size: 2.9em; }
  .mask {
    max-width: 250px !important;
    left: 0 !important; }
    .mask p {
      font-size: 0.7em; }
    .mask h2 {
      font-size: 1em !important; } }

@media screen and (max-width: 375px) {
  .space {
    left: 10px; }
  .foot {
    max-width: 345px !important; } }

@media screen and (max-width: 360px) {
  .foot {
    max-width: 330px !important; } }

@media screen and (max-width: 320px) {
  .foot {
    min-width: 200px !important;
    max-width: 290px !important; } }
